
/* Set a style for all buttons */
#cart, #show {
    background-color: #04AA6D;
    color: white;
    padding: 10px 16px;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#show {
    padding: 10px 16px;
    background-color: #f44336;
}

#show, #cart {
    float: left;
    width: 50%;
}

.clearfix::after {
    font-size: 6px;
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    #show, #cart {
        width: 100%;
    }
}

